<div class="w-full text-center mb-4">
  <h2 class="text-2xl font-bold">Kitap Yönetimi</h2>
</div>

<div class="flex flex-row items-stretch justify-center gap-20">
  <!-- Ekleme Formu -->
  <div class="flex flex-col gap-2 w-80">
    <label for="name">Kitap Adı</label>
    <input
      type="text"
      id="name"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="createBookRequestModel().title"
    />
    <label for="authorId">Yazar</label>
    <select
      id="authorId"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="createBookRequestModel().authorId"
    >
      @for (author of authorList()?.data; track author.id) {
      <option value="{{ author.id }}" class="bg-gray-800">
        {{ author.name }} {{ author.surname }}
      </option>
      }
    </select>
    <label for="categoryId">Kategori</label>
    <select
      id="categoryId"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="createBookRequestModel().categoryId"
    >
      @for (category of categoryList()?.data; track category.id) {
      <option value="{{ category.id }}" class="bg-gray-800">{{ category.name }}</option>
      }
    </select>
    <div class="flex flex-row gap-2">
      <button class="bg-blue-500 text-white p-2 rounded-md" (click)="createBook()">Kaydet</button>
      <button class="bg-red-500 text-white p-2 rounded-md" (click)="cancelEdit()">İptal</button>
    </div>
  </div>

  <!-- Dikey Ayraç -->
  <div class="hidden md:flex items-stretch">
    <div class="w-px bg-[#222631] mx-4"></div>
  </div>

  <!-- Güncelleme Formu -->
  <div class="flex flex-col gap-2 w-80">
    <label for="name">Kitap Adı</label>
    <input
      type="text"
      id="name"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="editBookRequestModel().title"
    />
    <label for="authorId">Yazar</label>
    <select
      id="authorId"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="editBookRequestModel().authorId"
    >
      @for (author of authorList()?.data; track author.id) {
      <option value="{{ author.id }}" class="bg-gray-800">
        {{ author.name }} {{ author.surname }}
      </option>
      }
    </select>
    <label for="categoryId">Kategori</label>
    <select
      id="categoryId"
      class="p-2 rounded-md border border-gray-300"
      [(ngModel)]="editBookRequestModel().categoryId"
    >
      @for (category of categoryList()?.data; track category.id) {
      <option value="{{ category.id }}" class="bg-gray-800">{{ category.name }}</option>
      }
    </select>
    <div class="flex flex-row gap-2">
      <button class="bg-blue-500 text-white p-2 rounded-md" (click)="updateBook()">Kaydet</button>
      <button class="bg-red-500 text-white p-2 rounded-md" (click)="cancelEdit()">İptal</button>
    </div>
  </div>
</div>
<hr class="my-4" />
<div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Kitap Adı</th>
        <th>Yazar</th>
        <th>Kategori</th>
        <th>Oluşturulma Tarihi</th>
        <th>Güncellenme Tarihi</th>
        <th>İşlemler</th>
      </tr>
    </thead>
    <tbody>
      @for (book of books()?.data; track book.id) {
      <tr>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.authorName }}</td>
        <td>{{ book.categoryName }}</td>
        <td>{{ book.createdDate | date : 'dd.MM.yyyy HH:mm' }}</td>
        <td>{{ book.updatedDate | date : 'dd.MM.yyyy HH:mm' }}</td>
        <td>
          <button class="bg-blue-500 text-white p-2 rounded-md" (click)="editBook(book.id)">
            Düzenle
          </button>
          <button class="bg-red-500 text-white p-2 rounded-md" (click)="deleteBook(book.id)">
            Sil
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
